<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- title %></title>
    <link rel="stylesheet" href="../style.css">
</head>
<body style="margin:0; padding:0; background-color: #F4F4F4;width: 100%;">
<% function calculateDiscountPercentage(originalPrice, discountedPrice) {
    // 校验输入参数
    if (originalPrice <= 0 || discountedPrice <= 0 || originalPrice < discountedPrice) {
        return "NaN";
    }
    // 计算差价
    const discountAmount = originalPrice - discountedPrice;
    // 计算折扣率
    const discountPercentage = (discountAmount / originalPrice) * 100;
    return discountPercentage.toFixed(2) + '%';
} %>
<!--推送内容-->
<div style=" width: 96%;max-width: 500px;margin: 0 auto;padding: 0 2%">
    <img style="width: 67px;height: 67px; margin: 20px 0;" src="https://www.uniqlo.cn/public/bin/header/assets/imgs/uq-logo.jpg" alt="">
    <h1 style=" color: #606060;font-size: 30px;margin-top: 15px;font-weight: bold;" ><%- title %> <span style="color: #FE0100" >限时特优</span> </h1>
    <h5 style=" color: #606060;opacity: 0.8;font-size: 17px;letter-spacing: 1px;font-weight:bold;" >在第一时间获取优衣库最新降价消息, <br/> 助您抄底心仪的商品.</h5>
    <% data.map((item,i)=>{ %>
        <h1 style="color: #606060;font-size: 30px;margin-top: 15px;font-weight: bold;"> <%- item.sex %> </h1>
        <div style="flex-direction: row; flex-wrap: wrap; padding: 10px 0; flex:1; display: flex; justify-content: space-between;">
            <% item.data.map((goods,k)=>{  %>
                <a style="color: inherit;text-decoration: none;width: 48%;" href="<%- goods.url %>">
                    <div style="width: 100%; margin-bottom: 30px; <%- k%2==0?'padding-right: 2%; border-right:1px solid #DADADA ;':'' %> ">
                        <img style=" width: 100%;" src=" <%- goods.img %> " alt="">
                        <div style="font-size: 15px;letter-spacing: 1px; color: #272727; " >
                            <span style=" padding: 0 3px; background-color: #FE0100; color: #ffffff; font-weight: bold;">- <%- calculateDiscountPercentage(goods._price,goods.price) %> </span>
                            <span style="text-decoration: line-through; color:#A5A1A1 ; margin:0 5px; }"> ¥ <%- goods._price %>  </span>
                            <span style="color:#585858 ;"> ¥<%- goods.price %></span></div>
                        <p style=" margin: 5px 0; font-size: 18px; flood-color: #272727;"><%- goods.title %></p>
                        <p style="color:#585858 ;"><%- goods.code %>  </p>
                    </div>
                </a>

            <% }) %>
        </div>

    <%})%>


</div>

<!--    页脚-->
<div style="width: 100%;background-color: #ffffff;">
    <div style="width: 96%;max-width: 500px; margin: 0 auto; padding: 30px 0;">
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
            <img style="width: 36px; margin-right: 10px;" src="https://www.uniqlo.cn/public/bin/header/assets/imgs/uq-logo.jpg" alt="">
            <div >
                <p style="font-size: 12px; letter-spacing: 2px; color: #606060;margin: 0;padding: 0">此数据来源优衣库 <a style="color: #0091FF;" href="">官网</a> 限时特优,</p>
                <p style="font-size: 12px; letter-spacing: 2px; color: #606060;margin:0; padding:0;">本服务不涉及任何商业价值,不作为消费参考价值.</p>
            </div>
        </div>

        <div style="display: flex; align-items: center; margin-bottom: 20px;">
            <img style="width: 36px; margin-right: 10px;border-radius:30px" src="https://boattext-1251490080.cos.ap-guangzhou.myqcloud.com/avatar%2FIMG_0158.jpeg" alt="">
            <div>
                <p style="font-size: 12px; letter-spacing: 2px; color: #606060;margin:0; padding:0;">本项目代码开源地址 <a style="color: #0091FF;"  href="">GitHub</a> ,</p>
                <p style="font-size: 12px; letter-spacing: 2px; color: #606060;margin:0; padding:0;">教程视频在 <a style="color: #0091FF;" href="https://space.bilibili.com/133278591">JS全栈手册</a>.</p>
            </div>
        </div>
        <h5><a href="" style="color:#A5A1A1" >退订邮件</a>  </h5>
    </div>
</div>
</body>
</html>